<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<add key="caigoucheck" value="" />
		<add key="MailBee.SmtpMail.Smtp.LicenseKey" value="MN600-579F9F559F459FBC9FCC2AC190C5-6A93" />
		<add key="SingleLinePlaceHolder" value="[pino],[date],[customer],[to],[shipaddress],[phone],[fax],[contact],[pono],[paymentterms],[express],[subtotal],[bankcharge],[total]" />
		<add key="MultiLinePlaceHolder" value="[pn],[qty],[price],[dc],[mfg],[pck],[desc],[lineamount]" />
		<add key="PITemplate" value="D:\AAC\AutoPI\AAccess.AutoPI\bin\test22.docx" />
    <add key="TopAppKey" value="12340690" />
    <add key="TopAppSecret" value="657a6bd28c173fbd9b4e077ada55bfa1" />
    <add key="TopAppUrl" value="http://gw.api.taobao.com/router/rest" />
    <add key="TopSessionKeyUrl" value="http://container.api.taobao.com/container?appkey=" />
    <add key="LogoText" value="icprice.cn" />
	</appSettings>
	<connectionStrings>
		<!--221.234.38.219 58.53.128.78  58.53.128.165 -->
		<add name="crmnewConnectionString" connectionString="Data Source=58.53.128.78;Initial Catalog=IMA;Persist Security Info=True;User ID=sa;password=AAccess123" providerName="System.Data.SqlClient" />
		<add name="wsConnectionString" connectionString="Data Source=58.53.128.78;Initial Catalog=WS;Persist Security Info=True;User ID=sa;password=AAccess123" providerName="System.Data.SqlClient" />
		<add name="oeConnectionString" connectionString="Server=58.53.128.78;Port=5442;Userid=openpg;database=jyprod;password=openpgpwd;Protocol=3;SSL=false;Pooling=true;MinPoolSize=1;MaxPoolSize=20;Encoding=UNICODE;Timeout=60;SslMode=Disable" providerName="Npgsql" />
  </connectionStrings>
	<system.web>
		<globalization responseEncoding="UTF-8" requestEncoding="UTF-8" fileEncoding="UTF-8" culture="zh-CN" />
		<httpRuntime maxRequestLength="1024000" executionTimeout="36000" requestValidationMode="2.0" />
    
    
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
		</pages>
		<!--<authentication mode="Forms">
			<forms loginUrl="Login.aspx" timeout="600"/>
		</authentication>

    <authorization>
			<deny users="?"/>
		</authorization>-->
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			
        <!--<add assembly="Microsoft.Office.Interop.Word, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
				<add assembly="Office, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
        
      </assemblies>
		</compilation>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
                <remove value="index.htm" />
				<!--<remove value="default.aspx" />
				<remove value="iisstart.htm" />
				<remove value="index.html" />
				<remove value="index.htm" />				
				<remove value="Default.asp" />
				<remove value="Default.htm" />
                		<add value="index.aspx" />
				<add value="home.aspx" />-->
				<remove value="default.aspx" />
				<remove value="iisstart.htm" />
				<remove value="index.html" />
				<remove value="Default.asp" />
				<remove value="Default.htm" />
                <add value="index.htm" />
				<!--<add value="index.aspx"/>-->
			</files>
		</defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".crx" mimeType="text/plain" />
    </staticContent>    
	</system.webServer>
 <system.serviceModel>
  <behaviors>
   <serviceBehaviors>
    <behavior name="">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
   </serviceBehaviors>
  </behaviors>
  <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
 </system.serviceModel>
</configuration>
