/*	2012-2-20   For IC全能王
/*	重设html元素－－－－------------------------------------------------------－－－－－－---*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*	HTML5元素显示定义
/*-----------------------------------------------------------------------------------*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }




/*	全局定义
/*-----------------------------------------------------------------------------------*/


body {font-size: 12px; line-height: 1.6; background: #fff url(../img/page.png); color: #3f3f3f;}

body, button, input, select, textarea { font-family: sans-serif; color: #3f3f3f; }



/*	字体设定
/*-----------------------------------------------------------------------------------*/
body, form, #primary-nav li li {
	line-height: 1.625;
	font-family: Arial,Helvetica,sans-serif;
}

/* Google Fonts - Oswald */
.fontface, h1, h2, h3, h4, h5, h6, .site-title,
#primary-nav, .button, .gigpress-subscribe, .search-submit, .entry-excerpt span, .button,
		.gform_edit_link a, .gf_progressbar_wrapper, .gform_title, .gfield_label,	.gsection_title  {
	
	font-weight: normal;
}

select, input, textarea, button {
  font: 99% sans-serif;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

.gray{color: #949593}


/*	链接设定
/*-----------------------------------------------------------------------------------*/

a { color: #347fc6; }
a:visited { color: #6f6f6f; }
a:hover { text-decoration: underline;}
a:focus { outline: thin dotted; }
a,a:active, a:visited { text-decoration:none }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }



/*	头部设定
/*-----------------------------------------------------------------------------------*/.

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	text-transform: uppercase;
	font-weight:  normal;
}


h1 { font-size: 30px }
h2 { font-size: 16px }
h3 { font-size: 14px }
h4 { font-size: 13px }
h5 { font-size: 12px }




/*	段落和列表
/*-----------------------------------------------------------------------------------*/
ul, ol,li{list-style: none; }
dd { margin: 0px;padding: 0px }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }




/*	图片
/*-----------------------------------------------------------------------------------*/
img { border: 0; vertical-align: middle; }



/*	Figures
/*-----------------------------------------------------------------------------------*/
figure { margin: 0; }




/*	Forms
/*-----------------------------------------------------------------------------------*/
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }


/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


.primary-button{background: -webkit-linear-gradient(#77C2FD,#5EAEF5 50%,#57A8F1 51%,#4296E7);
    background: -moz-linear-gradient(#77C2FD,#5EAEF5 50%,#57A8F1 51%,#4296E7);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px rgba(255, 255, 255, 0.18), 0 1px #A2DFFE inset;
    color: #FFFFFF;
    border: 1px solid #347fc6;
    text-shadow: 0 -1px rgba(15, 89, 153, 0.5);border-radius:5px;}
.primary-button:hover{background: -webkit-linear-gradient(#80c5ff,#6db7f6 50%,#66aef2 51%,#56a1ea);
    background: -moz-linear-gradient(#80c5ff,#6db7f6 50%,#66aef2 51%,#56a1ea);}

.second-button{background: -webkit-linear-gradient(#FFB75A,#f19115);
    background: -moz-linear-gradient(#ffb75a,#f19115);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px rgba(255, 255, 255, 0.18), 0 1px #ffe8c9 inset;
    color: #FFFFFF;
    border: 1px solid #e58507;
    border-radius:5px;}
.second-button:hover{background: -webkit-linear-gradient(#ffc477,#f79d29);
    background: -moz-linear-gradient(#ffc477,#f79d29);}
.third-button{background: -webkit-linear-gradient(#75d324,#359e44);
    background: -moz-linear-gradient(#75d324,#359e44);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px rgba(255, 255, 255, 0.18), 0 1px #c6ee9e inset;
    color: #FFFFFF;
    border: 1px solid #40960c;
    border-radius:5px;}
.third-button:hover{background: -webkit-linear-gradient(#83e12e,#3bb048);
    background: -moz-linear-gradient(#83e12e,#3bb048);}

/*-----------------------------------------------------------------------------------*/

table {border-collapse: collapse; border-spacing: 0; }
td,th{ vertical-align: top;padding:6px}




/*	Typography
/*-----------------------------------------------------------------------------------*/
abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote {
	color: #bec4cc;
	padding: 0 3em;
	margin-bottom: 1.8em;
}

blockquote cite {
	color: #fff;
}

blockquote:before {
	float: left;
	margin-left: -40px;
	font-size: 64px;
	line-height: 40px;
	font-weight: bold;
	content: "\201C";
}

dfn { font-style: italic; }


hr {
	height: 0px; 
	border-top:0px solid #c1c1c1; 
	padding: 0px; 
	margin:6px 0px;
}

ins { background: #bec4cc; color: #252A31; text-decoration: none; }

mark { background: #bec4cc; color: #252A31; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

pre {
	padding: 1em;
	margin-bottom: 21px;
	background: #bec4cc;
	color: #252A31;
	text-shadow: none;
	white-space: pre; white-space: pre-wrap; word-wrap: break-word;
}

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

iframe,object,embed { display: block }




/*	Non-semantic Helpers
/*-----------------------------------------------------------------------------------*/

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
