#hd ul.subnav li.on a{color:Red !important;}
#hd{font-family: SimSun,Arial;font-size:12px;line-height:18px;margin:0 auto;zoom:1;text-align:left;}
#hd:after{content:"\0020";display:block;height:0;clear:both;}
#hd a,#hd a:link,#hd a:visited {color:#666666;text-decoration:none;}
#hd a:hover {color:#ff7300;text-decoration:underline;}
#hd a:active {color:#666666;text-decoration:none;}
#hd .orange,#hd a.orange:link,#hd a.orange:visited ,#hd a.orange:active{color:#FF7300;}
#hd .blue,#hd a.blue:link,#hd a.blue:visited {color:#0048A2;}
#hd a.blue:hover{color:#ff7300;text-decoration: underline;}
#hd a.blue:active{color:#0048A2;}#hd .s{font-size:12px;}
#hd .m{font-size:14px;}
#hd .l{font-size:16px;}
#hd strong,#hd .b{font-weight:bold;}
#hd .normal{font-family:Arial;font-weight:normal;}
#hd .mb8{margin-bottom:8px;}
#hd .clr,#hd .clear-float {zoom:1;}
#hd .clr:after,#hd .clear-float:after {content:"\0020";display:block;height:0;clear:both;}
#hd .i-block {display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline;}
#hd .hide{display:none;}
#hd .mt8{margin-top:8px;}/*** ali-header.css** °¢Àï°Í°Í¶¥²¿µ¼º½(topnav)ÑùÊ½±í** @author  shengliang.yaosl@alibaba-inc.com* @version v1.0.20090327*/
#hd .icon-bg{background-image:url(../../images/taobao/icon-bg.png);background-repeat:no-repeat;}
#hd .header-bg,#hd #searchbar,#hd #search-nav li,#hd #search-nav li.on,#hd #searchbar fieldset,
#hd #search-input,#hd #search-submit,#hd #searchbar .search-rank,#hd #nav-warp,#hd #nav,#hd #nav 
.current,#hd #nav .current a,#hd #nav .w2,#hd #nav .w3,#hd #nav .w4,#hd #nav .last,#hd #nav .nav-new,#hd #nav .nav-hot,
#hd #search-input-container,#hd #mainnav .index a,#hd #search-box-tab,#hd #search-input-container-tab,#hd #search-input-tab,#hd #search-submit-tab
{background-image:url(../../images/taobao/header-bg.png);background-repeat:no-repeat;}
#hd #quick-guide{position:relative;top:2px;z-index:30;float:left;height:20px;width:356px;}
#hd #quick-link{position:relative;top:2px;z-index:30;float:right;height:20px;width:275px;}
#hd #check-login{float:right;padding:3px 0 0 0;}
#hd #topnav{height:22px;background-color:#EFF4F8;border-bottom:1px solid #C9DEE1;}
#hd #topnav li.topli{float:left;margin-right:8px;}
#hd #topnav li.last{margin-right:0;}
#hd #topnav .topbox{position:absolute;z-index:40;top:20px;left:0;display:none;background:#ffffff;border:1px solid #C6D8E8;}
#hd #t2,#hd #t3,#hd #t4,#hd #t7,#hd #t8{position:absolute;top:0;z-index:40;background-repeat:no-repeat;}
#hd #t1,#hd #t5,#hd #t6,#hd #t9{position:absolute;top:2px;z-index:40;background-repeat:no-repeat;line-height:15px;}
#hd #t1{left:0;top:2px;padding-left:20px;}
#hd #t2{left:71px;}
#hd #t3{left:142px;}
#hd #t4{left:213px;}
#hd #t5{left:284px;background-position:0 -9px;padding-left:4px;}
#hd #t6{left:0;background-position:0 -39px;padding-left:20px;}
#hd #t7{left:71px;top:0;padding-left:24px;line-height:15px;}
#hd #t8{left:150px;top:0;background-position:0 -9px;padding-left:4px;line-height:15px;}
#hd #t9{left:220px;background-position:0 -9px;padding-left:4px;}
#hd #t2 a.header-bg,#hd #t3 a.header-bg,#hd #t4 a.header-bg,#hd #t7 a.header-bg,#hd #t8 a.header-bg
{position:absolute;top:0;left:0;z-index:60;background-position:right -8px;display:block;width:52px;height:19px;line-height:17px;padding:0 14px 0 3px;border:1px solid #EFF4F8;border-bottom:0;}
#hd #t2 a.header-bg,#hd #t3 a.header-bg,#hd #t4 a.header-bg{color:#666666;text-decoration:none;}
#hd #t7 a.header-bg{width:40px;background-position:right -38px;padding-left:23px;}
#hd #t8 a.header-bg{color:#ff7300;}
#hd #t2 a.on,#hd #t3 a.on,#hd #t4 a.on,#hd #t7 a.on,#hd #t8 a.on{background-position:right -68px;background-color:#ffffff;height:20px;border:1px solid #C6D8E8;border-bottom:0;}
#hd #t7 a.on{background-position:right -98px;}
#hd #searchbar{background-repeat:repeat-x;background-position:0 -270px;height:40px;padding:0 67px 0 85px;}
#hd #searchbar h1{float:left;padding-top:32px;width:204px;}
#hd #searchbar h1.current{background-image:url(../../images/taobao/header-bg.png);background-position:-100px 0;background-repeat:no-repeat;}
#hd #searchbar h1 a{display:block;background-image:url(../../images/taobao/logo.gif);width:164px;height:41px;margin-left:28px;text-indent:-9999px;}
#hd #search{position:relative;z-index:10;float:left;margin-top:12px;}
#hd #search-nav{position:absolute;z-index:10;top:0;left:30px;z-index:30;width:268px;height:25px;}
#hd #search-nav li{float:left;margin-right:8px;display:inline;width:54px;height:25px;background-repeat:no-repeat;background-position:-80px -80px;text-align:center;line-height:25px;font-size:14px;font-weight:bold;}
#hd #search-nav li a{color:#0048a2;}
#hd #search-nav li.current{background-repeat:no-repeat;background-position:-4px -80px;}
#hd #search-nav li.current a{color:#fff;}
#hd #searchbar #search-box{position:absolute;top:23px;left:0;z-index:20;width:522px;background-position:right -160px;background-repeat:no-repeat;}
#hd #search-box legend,#hd #search-box-tab legend{position:absolute;top:0;left:0;text-indent:-9999px;display:none;}
#hd #search-input-container{background-position:-150px -160px;height:36px;}
#hd #search-input{border:0;width:395px;margin-left:12px;padding:10px 0 6px 0;height:20px;line-height:17px;font-size:14px;background-position:0 -120px;background-repeat:repeat-x;*margin-top:-1px;}
#hd #search-label{display:none;position:absolute;top:9px;left:10px;font-size:14px;line-height:20px;width:300px;color:#666666;cursor:text;}
#hd #search-label-tab{display:none;position:absolute;top:9px;left:90px;font-size:14px;line-height:20px;width:300px;color:#666666;cursor:text;}
#hd #search-submit{position:absolute;left:412px;top:5px;background-position:0 -160px;width:104px;height:26px;border:0;text-indent:-9999px;cursor:pointer;}
#hd #searchbar .search-rank{position:relative;direction:block;left:530px;top:45px;padding-left:12px;_padding-left:10px;background-position:-76px -38px;}
#hd #nav-warp{background-position:0 -237px;background-repeat:repeat-x;}
#hd #nav{height:29px;background-position:right -237px;padding-left:20px;}
#hd #nav li{float:left;text-align:center;display:inline;font-size:14px;font-weight:bold;position:relative;height:29px;}
#hd #nav .w2{background-position:-93px -237px;background-repeat:repeat-x;width:47px;}
#hd #nav .w3{background-position:-79px -237px;background-repeat:repeat-x;width:61px;}
#hd #nav .w4{background-position:-65px -237px;background-repeat:repeat-x;width:75px;}
#hd #nav .last{background-position:-60px -237px;}
#hd #nav a,#hd #nav a:link#hd #nav a:visited{padding-top:8px;display:block;color:#fff;}
#hd #nav a:hover{color:#ff0;}
#hd #nav a:active{color:#fff;}
#hd #nav .current{background-position:-260px -200px;color:#FF7300;margin-left:-1px;padding-left:5px;margin-right:4px;}
#hd #nav .current a{color:#FF7300;text-decoration:none;display:block;margin-left:4px;padding-right:4px;background-position:right -200px;height:21px;}#hd #nav .current a:hover{color:#FF7300;}
#hd #nav .nav-hot{background-position:-200px -80px;top:-3px;right:0;position:absolute;text-indent:-9999px;width:13px;height:12px;}
#hd #nav .nav-new{background-position:-260px -80px;top:-3px;right:0;position:absolute;text-indent:-9999px;width:13px;height:12px;}

#hd .aacguide{width:256px;overflow:hidden;padding:4px;}
#hd .aacguide li{float:left;display:inline;width:64px;height:22px;line-height:22px;margin:0;padding:0;}
#hd .aacguide li a{height:22px;line-height:22px;display:block;margin:0 4px;width:56px;}

#hd #alitrade{width:800px;overflow:hidden;padding:4px;}
#hd #alitrade li{float:left;display:inline;width:100px;height:22px;line-height:22px;margin:0;padding:0;}
#hd #alitrade li a{height:22px;line-height:22px;display:block;margin:0 4px;width:92px;}
#hd #aliservice{width:204px;overflow:hidden;padding:4px;}
#hd #aliservice li{float:left;display:inline;width:68px;height:22px;line-height:22px;margin:0;padding:0;}
#hd #aliservice li a{height:22px;line-height:22px;display:block;margin:0 4px;width:60px;}
#hd #alihelp{width:61px;overflow:hidden;padding:4px;}
#hd #alihelp li{float:left;display:inline;width:61px;height:22px;line-height:22px;margin:0;padding:0;}
#hd #alihelp li a{height:22px;line-height:22px;display:block;margin:0 2px;width:56px;}
#hd #alicxt{width:110px;overflow:hidden;padding:4px;}
#hd #alicxt li{width:110px;height:22px;line-height:22px;margin:0;padding:0;}
#hd #alicxt li a{height:22px;line-height:22px;display:block;margin:0 2px;width:104px;}
#hd #alicxt li a.icon-bg{padding-left:16px;background-position:-8px -365px;}
#hd .subnav{height:30px;border:1px solid #C8DBEB;border-top:0;padding:0 8px;margin-bottom:8px;}
#hd .subnav li{float:left;line-height:16px;height:16px;padding:0 8px;margin:7px 0;border-right:1px solid #ccc;}
#hd .subnav li a{color:#003278 !important;}
#hd .subnav li a:hover{color:#ff7300 !important;}
#hd #searchbar #search-box-tab{position:absolute;top:23px;left:0;z-index:20;width:522px;background-position:right -350px;background-repeat:no-repeat;}
#search-input-container-tab{background-position:-150px -160px;height:36px;padding:0;margin:0;}
#search-input-tab{background-position:0 -120px;float:left;border:0;width:320px;padding:10px 0 6px 0;height:20px;line-height:17px;font-size:14px;background-repeat:repeat-x;display:inline;}
#select-tab{width:77px;padding-left:5px;display:inline;float:left;background:url(../../images/taobao/normal1_1247123745569.png);height:28px;position:relative;margin:4px 0 0 5px;font-size:14px;line-height:28px;}
#select-tab ul{display:none;width:78px;overflow:hidden;position:absolute;z-index:10;top:28px;left:0;border:1px solid #EC980F;background:#fff;}#select-tab li{height:20px;font-size:14px;padding:0 4px;line-height:20px;cursor:pointer;}
#select-tab li.current{background:#FFE9AD;}
#hd #search-submit-tab{position:absolute;left:412px;top:5px;background-position:0 -160px;width:104px;height:26px;border:0;text-indent:-9999px;cursor:pointer;}.ht8{height:8px;overflow:hidden;}
#memberId1{color:#666;}
#hd a.mfzc, #hd a.mfzc:visited{color:#ff7300;}


/*  ËÑË÷À¸ start  */
#site-search,
#site-search .search-box,
#site-search .search-box form,
#site-search button
{
    background:url(../../images/taobao/header_bg.png) no-repeat;
}


#site-search{_position:relative;_width:660px;_zoom:1;}
#site-search{clear:both;float:right;margin-top:9px;background-position:0 -210px;padding-left:5px;}
#site-search .search-box{display:block;float:left;background-position:right -240px;padding-right:5px;}
#site-search .search-box form{height:24px;padding:3px 1px;background-position:0 -270px;background-repeat:repeat-x;}
#site-search form{_display:inline;_zoom:1;}
#site-search input,x:-moz-any-link,x:default{padding-bottom:2px;}
#site-search input{padding:2px 2px 1px;height:15px;}
#site-search input,#site-search select{border:1px solid #B5B5B5;padding:1px;}
#site-search form span{float:left;display:block;margin-right:3px;margin-top:2px;}
#site-search .search-type select{width:67px;}
#site-search form span.search-query{*margin-top:1px;}
#site-search .search-query input{width:310px;}
#site-search button{background-position:0 -180px;border:none;text-indent:-99999px;width:65px;height:24px;cursor:pointer;}
/*  ËÑË÷À¸ end  */